.★{
  background-color:#fad4d4;
}
.A{
  background-color:#d0f5e4;
}
.B{
  background-color:#fffebe;
}
.C{
  background-color:#e2e2e2;
}
.X{
  background-color:#828af7;
}
.cost5{
  background-color: rgb(255, 229, 181);
}
.cost4{
  background-color: rgb(228, 181, 255);
}
.cost3{
  background-color: rgb(178, 226, 248);
}
.cost2{
  background-color: rgb(203, 248, 192);
}
.cost1{
  background-color: rgba(236, 236, 236, 0.918);
}